<p>検索</p>
<%= form_tag(search_path,:method => 'get') do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>

<ul><% @microposts.each do |micropost| %>
  <li>
    <%= link_to micropost.title, micropost %>
    <%= micropost.created_at %>
    <%= micropost.status %>
  </li>
  <%= link_to "編集",edit_post_path(micpost) %>
  <%= link_to "削除",micpost, method: :delete %>
  <% end %>
</ul>
